.wrapper {
    /*margin-top: 5rem;*/
}
.project_list {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project {
    border: 2px solid darkgray;
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
    padding-bottom:0;
    width: 48%;
}
.project:hover {
    /*opacity: 0.8;*/
}
.project_detail_table td {
    border-bottom: 1px solid gray;
}
.project_detail_table {
    border-collapse: separate;
    border-spacing: 10px 5px;
}

.actions {
    text-align: right;
    margin-top: 2rem;
    display: flex;
}
.popup {
  display: none;
  height: 100vh;
  width: 100%;
  background: gray;
  position: fixed;
  top: 0;
  left: 0;
}
.content {
  background: #fff;
  padding: 30px;
  width: 50%;
}
.show {
  display: flex;
  justify-content: center;
  align-items: center;
  /*z-index: 999;*/
}
.create_user {
    padding: 1rem;
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .project_list {
        width: 100%;
        margin: 0 auto;
    }
    .create_user {
        right: 25px;
    }
    .actions {
        text-align: left;
        margin-bottom: 2rem;
    }
    .project_list {
        display: block;
    }
}