.wrapper {
    margin-top: 3.6rem;
    padding-top: 0;
}
.seek_list {
    width: 1024px;
    margin: 0 auto;
}
.language, .purposes {
    margin-top: 1.5rem;
}
.language ul, .purposes ul {
    display: flex;
    flex-wrap: wrap;
}
.language ul li, .purposes ul li {
    margin-bottom: 1rem;
    margin-right: 1rem;
    list-style: none;
}
.g1 {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    padding: 1rem;
    color: #fff;
    font-weight: bold;
}
.g2 {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    padding: 1rem;
    color: #fff;
    font-weight: bold;
}

.search-header {
    position: relative;
    background: #f6f8fa;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 12px;
}

.form{
    cursor: pointer;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }
  .icon_color {
      color: gray;
  }
  .card {
      width: 48%;
  }
  .search_icon {
      display: inline-block;
  }
@media only screen and (max-width: 768px) {
    .seek_list {
        width: 100%;
    }
    .language ul, .purposes ul {
        display: block;
    }
    .card {
      width: 100%;
    }
    .search-header {
        display: none;
        position: relative;
        text-align: left;
        background: #f6f8fa;
        margin-bottom: 2rem;
        padding-left: 2rem;
        font-size: 12px;
    }
     .search_icon {
      display: block;
    }
    .acodion_seek {
        padding: 1rem;
        text-align: center;
        background: gray;
        color: white;
    }
}