@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    z-index: 100;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.auth {
    width: 500px;
    margin: 2rem auto;
    justify-content: space-around;
    display: flex;
}
.auth li {
    list-style: none;
}
.main_visual {
    /*background: #eef;*/
    display: none;
    background-attachment: fixed;
    background-image: url('/images/be.png');
    height: 600px;
    padding-top:4rem;
    /*background-position: center center;*/
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*.main_visual::before {*/
/*  background: inherit;*/
/*  content: '';*/
/*  filter: blur(5px);*/
/*  position: absolute;*/
/*  top: -5px;*/
/*  right: -5px;*/
/*  bottom: -5px;*/
/*  left: -5px;*/
/*}*/
.btn-animation-01 {
      display: inline-block;
    width: 250px;
     height: 100px; 
    padding-top: 3rem;
    text-align: center;
    background-color: pink;
    border: 2px solid pink;
    font-size: 16px;
    color: pink;
    text-decoration: none;
    font-weight: bold;
    padding: 95px 24px;
    border-radius: 4px;
    position: relative;
    box-sizing: content-box;
}

.btn-animation-01 span {
  position: relative;
  z-index: 1;
  font-size: 2rem;
}

.btn-animation-01::before,
.btn-animation-01::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.btn-animation-01::before {
  left: 0;
}
.btn-animation-01::after {
  right: 0;
}

.btn-animation-01:hover:before,
.btn-animation-01:hover:after {
  width: 0;
  background-color: #FFF;
}

.btn-animation-01:hover {
  color: #FFF;
}
.btn-animation-02 {
      display: inline-block;
    width: 250px;
     height: 100px; 
    padding-top: 3rem;
    text-align: center;
    background-color: #9ec34b;
    border: 2px solid #9ec34b;
    font-size: 16px;
    color: #9ec34b;
    text-decoration: none;
    font-weight: bold;
    padding: 95px 24px;
    border-radius: 4px;
    position: relative;
    box-sizing: content-box;
}

.btn-animation-02 span {
  position: relative;
  z-index: 1;
  font-size: 2rem;
}

.btn-animation-02::before,
.btn-animation-02::after {
  box-sizing: content-box;
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.btn-animation-02::before {
  left: 0;
}
.btn-animation-02::after {
  right: 0;
}

.btn-animation-02:hover:before,
.btn-animation-02:hover:after {
  width: 0;
  
  background-color: #FFF;
}

.btn-animation-02:hover {
  color: #FFF;
}
.btn_area_top {
    padding-top: 3rem;
    margin: 0 auto;
    width: 1024px;
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .btn_area_top {
    padding-top: 3rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
    .auth {
        width: 100%;
        margin: 2rem auto;
        display: block;
    }
    .auth li {
        margin-bottom: 2rem;
    }
    .context {
        width: 100%;
        position: absolute;
        top:25vh;
        z-index: 100;
    }
}

