/*dt{*/

/*  float: left;*/

/*}*/

dd {
    margin-bottom: 0;
}

.wrapper {
    margin: 0 auto;
    padding-top: 0;
}

.my_infomations {
    width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

.cropper-container {
    /*max-width: 300px;*/
}
.cropper-view-box,
.cropper-face {
    border-radius: 50%;
}

/* 下記はできれば必要なスタイルかと思います。（厳密にはスタイルなど必要ありませんが、最低現のスタイルとしてという意味です。） */

.cropper-container {
    width: 100%;
}

.wrapper {
    margin-top: 8rem;
}

.contents {
    max-width: 1200px;
    margin: 0 auto;
}

.mypage_title {
    width: 50%;
    margin: 3rem auto;
    text-align: center;
    font-size: 2rem;
    color: gray;
}

.nav-tabs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.cg {
    color: gray;
}

.sc100 {
    width: 100px;
    height: 100px;
}

.sc200 {
    width: 200px;
    height: 200px;
}

.left_bar .nav {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #00AE95;
    opacity: 0.9;
}

.sidebar_fixed {
    justify-content: center;
    width: 100%;
}

.nav {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}

dl {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

dt {
    flex-basis: 15%;
    padding: 20px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

dd {
    flex-basis: 85%;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
    .my_infomations {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        margin-right: -15px;
        margin-left: 0;
    }
    .mypage_title {
        width: 100%;
        margin: 3rem auto;
        text-align: center;
        font-size: 1.5rem;
        color: gray;
    }
    .list-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        flex-wrap: wrap;
    }
    .list-group li {
        width: 50%;
        text-align: center;
        border: 1px solid gray;
    }
    dl {
        flex-flow: column;
    }
    .col-9 {
        max-width: 100%!important;
        flex: 0 0 100%;
    }
}
