/*dt{*/

/*  float: left;*/

/*}*/

dd {
    margin-bottom: 0;
}

.wrapper {
    margin: 0 auto;
    padding-top: 0;
}

.my_infomations {
    /*width: 1024px;*/
    margin: 0 auto;
    padding: 1rem;
}

.wrapper {
    margin-top: 8rem;
}

.contents {
    max-width: 1200px;
    margin: 0 auto;
}

.mypage_title {
    /*width: 50%;*/
    margin: 3rem auto;
    text-align: center;
    font-size: 2rem;
    color: gray;
}

.nav-tabs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.cg {
    color: gray;
}

.sc100 {
    width: 100px;
    height: 100px;
}

.sc200 {
    width: 200px;
    height: 200px;
}

.left_bar .nav {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #00AE95;
    opacity: 0.9;
}

/*.sidebar_fixed {
    */

/*    justify-content: center;*/

/*    width: 100%;*/

/*}*/

.nav {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}

.fade dl {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.fade dt {
    flex-basis: 15%;
    padding: 20px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.fade dd {
    flex-basis: 85%;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.card-text,
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    height: 30px;
}

.small_title {
    font-size: .9rem;
    font-weight: 400;
    color: #747373;
}

.other_profile {
    display: none;
}

.grid_wrapper {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-template-rows: 100%;
    grid-gap: 30px;
    margin-top: 5rem;
}

.grid_item {
    padding: 3rem;
    background: skyblue;
}

.Item {
    text-decoration: none;
    color: #5bc8ac;
}

.Item-Text {
    position: relative;
    z-index: 1;
}

.Item-Text:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    /*テキストからの距離*/
    width: 0%;
    /*初期状態では下線非表示*/
    height: 2px;
    /*下線の高さ*/
    background: deepskyblue;
    /*下線の色*/
    z-index: -1;
    transition: all 0.4s;
    /*アニメーション速度*/
}

.Item:hover .Item-Text:after {
    width: 100%;
    color: #5bc8ac;
    /*hover時に表示*/
}

.row {
    justify-content: center;
    max-width: 900px;
}

@media only screen and (max-width: 768px) {
    .profile_ac {
        display: none;
    }

    .spmt4 {
        max-width: 340px;
    }

    #profile_ac {
        padding: 10px;
        text-align: center;
        font-size: 0.8rem;
        color: #c0c0c0;
        border: 1px solid;
        width: 80%;
        margin: 0.6rem auto;
        border-radius: 12px;
    }

    .profile_card {
        display: none;
    }

    .grid_wrapper {
        display: block;
    }

    .other_profile {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 50px;
        grid-gap: 10px;
        text-align: center;
        margin-top: 1rem;
        /*margin-top: 5rem;*/
    }

    .other_profile .free_url {
        grid-column: 1 / 3;
    }

    .other_profile .self_introduction {
        padding-left: 1rem;
        line-height: 1.6rem;
        font-size: 0.8rem;
    }

    .wrapper {
        margin-top: 3.5rem;
    }

    .list-group-flush:last-child .list-group-item:last-child {
        border-bottom-width: 0;
        border-bottom: 1px solid gray;
        border-left: 1px dashed gray;
    }

    .comment_sp {
        font-size: 0.8rem;
        color: #c0c0c0;
    }

    .sp_icon {
        margin-top: 1rem;
        display: flex !important;
        align-items: center;
        padding-left: 2rem;
    }

    .sp_icon img {
        width: 75px;
        border-radius: 3rem;
        border: 3px solid deepskyblue;
    }

    .my_infomations {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        margin-right: -15px;
        margin-left: 0;
        justify-content: center;
    }

    .mypage_title {
        width: 100%;
        margin: 3rem auto;
        text-align: center;
        font-size: 1.5rem;
        color: gray;
    }

    .list-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        flex-wrap: wrap;
    }

    .list-group li {
        width: 50%;
        text-align: center;
        border: 1px solid gray;
    }

    .fade dl {
        flex-flow: column;
    }

    .col-9 {
        max-width: 100% !important;
        flex: 0 0 100%;
        padding: 0;
    }
}
