dt{
  float: left;
}

dd{
  margin-left: 160px;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid gray;
}
.wrapper {
    margin: 0 auto;
     padding-top: 0; 
}
.my_infomations {
    /*width: 1024px;*/
    margin: 0 auto;
    padding: 1rem;
}
.wrapper {
    margin-top: 8rem;
}
.contents {
    max-width: 1024px;
    margin: 0 auto;
}
.mypage_title {
    width: 50%;
    margin: 3rem auto;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .my_infomations {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        margin-right: -15px;
        margin-left: 0;
    }
}